<h1> New Page </h1>
<%= form_for @user, html: {multipart: true} do |t| %>
  <%= t.label 'Email' %>
  <%= t.text_field :email, required: true %>
  <br/>
  <%= t.label 'First Name' %>
  <%= t.text_field :fname %>
  <br/>
  <%= t.label 'Last Name' %>
  <%= t.text_field :lname %>
  <br/>
  <%= t.submit 'Create', class: 'btn btn-default' %>
  <%= link_to 'Cancel', users_path, class: 'btn btn-default' %>
<% end %>


