<%= link_to 'Back', root_path, class: 'btn btn-primary' %>

<h1> Show Page </h1>
<h2> Email </h2>
<%= @user.email %>
<br/>
<h2> First Name </h2>
<%= @user.fname %>
<br/>
<h2> Last Name </h2>
<%= @user.lname %>
<h2> Delete </h2>
<%= link_to 'Delete', @user, method: :delete, class: 'btn btn-danger' %>
